#div1 {
  position: absolute; left: 13.75%; top: 50%;
  text-align: center;
  width: 15%;
}

#div2 {
  position: absolute; left: 42.5%; top: 50%;
  text-align: center;
  width: 15%;
}

#div3 {
  position: absolute; left: 71.25%; top: 50%;
  text-align: center;
  width: 15%;
}

#door1 {
  text-align: center;
  position: absolute; left: 13.75%; top: 5%;
  width: 15%;
  height: 35%;
  background-color: green;
}

#door2 {
  text-align: center;
  position: absolute; left: 42.5%; top: 5%;
  width: 15%;
  height: 35%;
  background-color: green;
}

#door3 {
  text-align: center;
  position: absolute; left: 71.25%; top: 5%;
  width: 15%;
  height: 35%;
  background-color: green;
}

h3 {
  margin: 50px;
}
